<div class="tag-cloud">
  <div class="tag-cloud-title">
    {{ _p('counter.tag_cloud', site.tags.length) }}
  </div>
  <div class="tag-cloud-tags">
    {%- set max_count = 1 -%}
    {%- for t in site.tags.toArray() -%}
      {%- if t.posts.length > max_count -%}{%- set max_count = t.posts.length -%}{%- endif -%}
    {%- endfor -%}
    {%- for tag in site.tags.sort('name').toArray() -%}
      {%- set ratio = tag.posts.length / max_count -%}
      {%- set fs = (14 + ratio * 18) | round(0) -%}
      <a href="{{ url_for(tag.path) }}" style="font-size: {{ fs }}px;" class="tag-cloud-{{ (ratio * 10) | round(0) }}">
        {{- tag.name }}<span class="tag-post-count">({{ tag.posts.length }})</span>
      </a>
    {%- endfor -%}
  </div>
</div>
